#entirePage {
	
}

/* --------- Gallery -------- */

#galleryOverall {
	/*border: 2px solid black;*/
	position: relative;
	top: 200px;
	left: 200px;
	margin: 0 auto;
}

.gallery {
	width: 100px;
	height: 300px;
}

.galleryImages {
	width: 380px;
	height: 190px;
}

.table {
	background-color: #b9c6ad;
	border: 3px solid #b9c6ad;
	display: table;
	padding: 4px;
	margin: 0px;
	spacing: 0px;
}

.tableR {
	display: table-row;
}

.tableC {
	display: table-cell;
}

/* -------- Captions beside gallery images ------- */

/* ----- Left ------ */

.l_caption {
	position: relative;
	top: 30px;
	left: -20px;
	float: left;
	text-align: right;
	color: #666;
	font-style: italic;
}

.l_caption ul {
	list-style: none;
	font-size: 40px;
}



/* ---- Right ----- */

.r_caption {
	position: relative;
	top: -160px;
	left: -325px;
	float: right;
	color: #666;
	font-style: italic;
}

.r_caption ul {
	list-style: none;
	font-size: 40px;
}



/* ------- Bottom Content --------- */

#tbleBottom {
	background-color: #b9c6ad;
	border: 4px solid #b9c6ad;
	display: table;
	margin: auto 0;
	height: 200px;
	position: relative;
}

.tbleRow {
	display: table-row;
}

.tbleCell {
	display: table-cell;
}



/* --------- Footer --------- */

.h_border {
	position: relative;
	top: 600px;
	left: 300px;
	margin: auto 0;
}

footer {
	top: 550px;
	left: -50px;
}