#entirePage {
	/*border: 2px solid black;*/
}

/* ---------- Gallery -------------*/

#galleryOverall {
	/*border: 2px solid black;*/
	width: 1360px;
	position: relative;
	top: 200px;
	margin: 0 auto;
}

#gallery {
	margin: auto 0;
}

/* ----------- Table ---------- */

.table {
	position: relative;
	left: 230px;
	display: table;
	border: 6px solid #b9c6ad;
	background: #b9c6ad;
}

.tableR {
	display: table-row;
}

.tableC {
	display: table-cell;
	/*border: 1px solid black;*/
}

.galleryImages {
	width: 200px;
	height: 200px;
}

/* ----- Captions ----- */

.l_caption {
	float: left;
	text-align: right;
	position: relative;
	left: 200px;
	top: -30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	color: #666;
	line-height: 6.9em;
	font-style: italic;
}

.l_caption ul {
	list-style-type: none;
}

.r_caption {
	float: right;
	text-align: left;
	position: relative;
	top: -640px;
	left: -260px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	color: #666;
	line-height: 6.9em;
	font-style: italic;
}

.r_caption ul {
	list-style-type: none;
}

/* ---------- Footer Content ---------- */

.h_border {
	position: relative;
	top: 250px;
	left: 100px;
}

footer {
	top: 250px;
	left: 100px;
}