#entirePage {

}

#bottomContent {
	position: relative;
	top: 100px;
	margin: auto 0;
	text-align: center;
}

.h_border {
	position: relative;
	top: 250px;
	left: 250px;
}

footer {
	top: 200px;
	left: -50px;
}